*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
!/public/storage/banner
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

./database.sql
./database-copy.sql

/prompts/

database/seeders/file/

!storage/app/public/slide-banner/
!storage/app/public/slide-banner/.gitkeep